.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.p-api {
  font-size: 10px
}

@media (max-width: 768px) {
  .container {
    font-size: 13px;
  }

  h4{
    font-size: 15px !important;
    justify-items: center;
    text-align: center;
  }

  .row {
    width: 100%;
  }
}